.join {
    &__card {
        background: var(--white);
        padding: 1.6em;
        margin-top: 5em;
        border-radius: 8px 8px 0 0;
    }
    &__title {
        color: var(--cyan);
        font-weight: 700;
    }
    &__sub {
        color: var(--bright-yellow);
        font-weight: bold;
    }
    @media screen and (min-width: 1200px) {
        &__card {
            padding: 1em 3em;
            border-radius: 8px 8px 0px 0px;
            width: 700px;
            margin: 0;
        }
        .u-p {
            font-size: 1.2em;
        }
    }
}