.why {
    margin-bottom: 5em;
    &__content {
        border-radius: 0 0 8px 8px;
        background: var(--cyan-two);
        padding: 1.6em;
    }
    &__title {
        color: var(--white);
    }
    &__list {
        // border: 1px solid red;
        padding: 0;
        li {
            color: var(--white);
            list-style: none;
            line-height: 1.5;
            font-size: 1em;
            font-weight: 400;
        }
    }
    @media screen and (min-width: 1200px) {
        &__content {
            padding: 1em 3em;
            border-radius: 0 0 8px 0px;
        }
    }
}